.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
}

table td {
    border: 1px solid grey;
    width: 100%;
    width: 33.333%;
    height: 200px;
    font-size: 6em;
}


/* table tr {
    display: flex;
    justify-content: center;
    align-items: center;
}

table td::before {
    content: '';
    display: block;
    padding-top: 33%;
} */